body {
    background-color: black;
    color: #fff;
    /*background-image: url('../images/bg.jpg');*/
    background-size: 100%;
    background-repeat: no-repeat;
}

body.dragging, .input-group-addon, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

.todo li {
    list-style-type: none;
    height: 45px;
}
.todo li.complete input[type=text] {
    text-decoration: line-through;
    color: #888;
}
.todo ul {
    padding: 0;
    margin: 15px 0 30px 0;
}
.todo-list .input-group {
    margin: 3px 0;
    border: 1px solid #333;
}

.todo-list .input-group-addon {
    border: none;
    background-color: #555;
}

.todo-list .input-group input[type=text] {
    border: none;
    background-color: black;
    color: white;
    opacity: .8;
    font-size: 16px;
    height: inherit;
}

.checklists .list-group-item, .checklists .list-group-item:hover, .checklists .list-group-item:focus {
    background-color: #222;
    border: none;
    margin-top: 3px;
    color: white;
    opacity: .9;
}
.checklists .list-group-item.disabled {
    opacity: .6;
}
.checklists h4 {
    color: #fff !important
}